<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Booking</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top_division">
        <h3 class="fhead">Upcoming events</h3>
    </div><br>
    
    <table border="1" cellpadding="10" class="fhead">
        <caption>Enthusia - Convection Centre</caption>
        <tr>
            <td><a href="930amenth.html?loginId={{loginId}}&eventId=e930">9:30 A.M</a></td>
            <td><a href="930amenth.html?loginId={{loginId}}&eventId=e230">2:30 P.M</a></td>
        </tr>
    </table>
    <br>
    <table border="1" cellpadding="10" class="fhead">
        <caption>Swayam - Convection Centre</caption>
        <tr>
            <td><a href="930amenth.html?loginId={{loginId}}&eventId=s930">9:30 A.M</a></td>
            <td><a href="930amenth.html?loginId={{loginId}}&eventId=s230">2:30 P.M</a></td>
        </tr>
    </table>
    <script>
</script>

</body>
</html>
